<div id="login-form">
    <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="andoid" ng-style="'color=#000'" aria-label="Close dialog"></md-icon>
    </md-button>
    <section layout="row" layout-sm="column"  layout-align="center center">

        <form name="userForm">
            <div layout>
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="credentials.username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="credentials.password">
                </md-input-container>

            </div>
            <div layout-align="left">
                <md-button ng-click="loginUser(credentials)"><i class="mdi login"></i>Login</md-button>
                <md-button ng-click="showNewUserForm($event)">Create Account</md-button>
            </div>
        </form>
</section>

    <pre>{{credentials | json}}</pre>
    <pre>{{newuser | json}}</pre>
</div>