<div id="login-form" layout="row" layout-sm="column"  layout-align="center center">
        <form name="userForm">
            <div>
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="credentials.username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="credentials.password">
                </md-input-container>

            </div>
            <div>
                <md-button ng-click="loginUser(credentials)"><i class="mdi login"></i>Login</md-button>
                <md-button ng-click="showNewUserForm($event)">Create Account</md-button>
            </div>
        </form>

    <pre>{{credentials | json}}</pre>
    <pre>{{newuser | json}}</pre>
</div>