<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example32-production</title>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>



</head>
<body ng-app="formExample">


<div ng-controller="loginController">
    <form novalidate class="simple-form" ng-submit="loginUser()">
        Name: <input type="text" ng-model="user.username" /><br />
        Password: <input type="password" ng-model="user.password" /><br />
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" value="Submit" />
    </form>
    <pre>form = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
    <pre>message = {{message}}</pre>
    <pre>userid = {{userid}}</pre>
</div>
<div ng-controller="otherController">
    <input type="button" ng-click="getSomeData()" value="The Button">
</div>
<script>
    angular.module('formExample', [])
            .controller('loginController', function($scope, $http) {
                $scope.userid = -1;

                $scope.reset = function() {
                    $scope.user = {};
                };

                $scope.loginUser = function() {
                    $http({
                        method  : 'POST',
                        url     : 'ajax/json-rpc-server.php',
                        data    : {id : $scope.userid,
                                   jsonrpc: "2.0",
                                   method : "login",
                                   params : $scope.user },  // pass in data as strings
                        headers : {'Content-Type': 'application/json'}  // set the headers so angular passing info as form data (not request payload)
                    })
                            .success(function(data) {
                                console.log(data);

                                $scope.message = data.message;


                                if (!data.success) {
                                    // if not successful, bind errors to error variables

                                } else {
                                    $scope.userid = data.id;
                                }
                            });
                };

                $scope.reset();
            })
            .controller('otherController', function($scope, $http) {
                $scope.isLoggedinOnServer = false;

                $scope.getSomeData = function() {
                    $http({
                        method  : 'POST',
                        url     : 'ajax/json-rpc-server.php',
                        data    : {id : $scope.userid,
                            jsonrpc: "2.0",
                            method : "isLoggedIn",
                            params : {} },  // pass in data as strings
                        headers : {'Content-Type': 'application/json'}  // set the headers so angular passing info as form data (not request payload)
                    })
                            .success(function(data) {
                                console.log(data);

                                $scope.message = data.message;


                                if (!data.success) {
                                    // if not successful, bind errors to error variables

                                } else {
                                    $scope.isLoggedinOnServer = data.result;
                                }
                            });
                };
            })
</script>
</body>
</html>