<?php

// Initialize configuration array
$LDAP_CONFIG = array();

// The machine on which the ldap server is running
$LDAP_CONFIG['ldap_host'] = "localhost";

// The port for the ldap connection
$LDAP_CONFIG['ldap_port'] = 389;

// Use SSL (LDAPS)
$LDAP_CONFIG['ldap_use_ssl'] = false;

// Use TLS: if you wish to use TLS you should ensure that $ldap_use_ssl is
// set to false and vice-versa
$LDAP_CONFIG['ldap_use_tls'] = false;

// The ldap root
$LDAP_CONFIG['ldap_root'] = "dc=root,dc=country";

// The base for the manager DN (either cn or uid)
$LDAP_CONFIG['ldap_manager_base_DN'] = "cn";

// The ldap manager (username only!)
$LDAP_CONFIG['ldap_manager'] = "manager";

// The ldap manager password
$LDAP_CONFIG['ldap_password'] = "secret";

// ldap manager OU: use this in case the ldap_manager is in some special OU
// that distinguishes it from the other users. $ldap_manager_ou will be
// prepended to $ldap_user_search_DN.
// Set it to "" if $ldap_user_search_DN can be used for binding
$LDAP_CONFIG['ldap_manager_ou'] = "ou=special_user";

// User search DN (without ldap root)
$LDAP_CONFIG['ldap_user_search_DN'] = "cn=users";

// Users often belong to more than one group. To filter for the desired one,
// fill the $ldap_valid_groups array with the ones to be filtered against.
// If more than one group fits, the first will be taken.
// Fill the array as follows: $ldap_valid_groups = array( "group1", "group2" )
// with as many groups as you need.
$LDAP_CONFIG['ldap_valid_groups'] = array( );
