<?php

// Initialize configuration array
$LDAP_CONFIG = array();

// The machine on which the ldap server is running
$LDAP_CONFIG['ldap_host'] = "localhost";

// The port for the ldap connection
$LDAP_CONFIG['ldap_port'] = 389;

// Use SSL (LDAPS)
$LDAP_CONFIG['ldap_use_ssl'] = false;

// Use TLS: if you wish to use TLS you should ensure that $ldap_use_ssl is
// set to false and vice-versa
$LDAP_CONFIG['ldap_use_tls'] = false;

// The ldap root
$LDAP_CONFIG['ldap_root'] = "dc=root,dc=country";

// The base for the manager DN (either cn or uid)
$LDAP_CONFIG['ldap_manager_base_DN'] = "cn";

// The ldap manager (username only!)
$LDAP_CONFIG['ldap_manager'] = "manager";

// The ldap manager password
$LDAP_CONFIG['ldap_password'] = "secret";

// ldap manager OU: use this in case the ldap_manager is in some special OU
// that distinguishes it from the other users. $ldap_manager_ou will be
// prepended to $ldap_user_search_DN.
// Set it to "" if $ldap_user_search_DN can be used for binding
$LDAP_CONFIG['ldap_manager_ou'] = "ou=special_user";

// User search DN (without ldap root)
$LDAP_CONFIG['ldap_user_search_DN'] = "cn=users";

// Users often belong to more than one group. To filter for the desired one,
// fill the $LDAP_CONFIG['valid_groups'] array with the ones to be filtered against.
// If more than one group fits, the first will be taken.
// Fill the array as follows: $LDAP_CONFIG['valid_groups'] = array( "group1", "group2" )
// with as many groups as you need.
$LDAP_CONFIG['ldap_valid_groups'] = array( );

// Group filtering and authorization.
//
// Users in LDAP usually belong to several groups. Many of those groups
// will not be relevant for the administrator of the HRM (groups like 
// 'Domain Users', 'Building 12', 'Staff') and the important ones, like the 
// research group, are hidden somewhere in this list.
//
// The $LDAP_CONFIG['valid_groups'] array can be used to specify only those 
// groups that are interesting for the HRM and that will be used as the user 
// group in the HRM and will show up in the usage statistics. For example, only
// the research groups at the institution might be included in this list.
//
// Additionally, not all research groups might be allowed to use the HRM. The
// $LDAP_CONFIG['authorized_groups'] array can be used to specify those groups
// that are allowed to use the HRM.
//
// Please notice that $LDAP_CONFIG['authorized_groups'] must not strictly be a
// subset of $LDAP_CONFIG['valid_groups'].
//
// Example 1
// =========
//
// $LDAP_CONFIG['authorized_groups'] = array('group_einstein', 'group_bohr');
// $LDAP_CONFIG['valid_groups'] = array('group_einstein', 'group_bohr');
//
// User 'john' has groups {'Domain Users', 'Building 12', 'Staff',
// 'group_einstein'}
//
// 'john' is allowed to log in and the group used in HRM is 'group_einstein'.
//
// User 'stephanie' has groups {'Domain Users', 'Building 12', 'Staff',
// 'group_bohr'}
//
// 'stephanie' is allowed to log in and the group used in HRM is 'group_bohr'.
//
// User 'jeff' has groups {'Domain Users', 'Building 1', 'Admin Staff',
// 'group_admin'}
//
// 'jeff' is not allowed to log in (since 'group_admin' is not in
// $LDAP_CONFIG['authorized_groups'])'.
//
// Example 2
// =========
//
// $LDAP_CONFIG['authorized_groups'] = array('hrm');
// $LDAP_CONFIG['valid_groups'] = array('group_einstein', 'group_bohr');
//
// User 'john' has groups {'Domain Users', 'Building 12', 'Staff',
// 'group_einstein', 'hrm'}
//
// 'john' is allowed to log in and the group used in HRM is 'group_einstein'.
//
// User 'stephanie' has groups {'Domain Users', 'Building 12', 'Staff',
// 'group_bohr'}
//
// 'stephanie' is not allowed to log in (she does not belong to group 'hrm').
//
// User 'jeff' has groups {'Domain Users', 'Building 1', ''Admin Staff',
// 'group_admin'}
//
// 'jeff' is not allowed to log in (she does not belong to group 'hrm').
//
// Example 3
// =========
//
// $LDAP_CONFIG['authorized_groups'] = array();
// $LDAP_CONFIG['valid_groups'] = array('group_einstein', 'group_bohr');
//
// No restriction on which groups can log in to HRM. Group filtering works as
// in Examples 1 and 2.
//
// Example 4
// =========
//
// $LDAP_CONFIG['authorized_groups'] = array();
// $LDAP_CONFIG['valid_groups'] = array();
//
// If neither valid nor authorized groups are defined, all groups are allowed
// to log in and the first returned
// group will be used in HRM.
//
// User 'john' has groups {'Domain Users', 'Building 12', 'Staff',
// 'group_einstein', 'hrm'}
//
// john's group in HRM will be 'Domain Users'.
//
// Example 5
// =========
//
// $LDAP_CONFIG['authorized_groups'] = array(... any number of entries ...);
// $LDAP_CONFIG['valid_groups'] = array();
//
// If $LDAP_CONFIG['valid_groups'] is empty and $LDAP_CONFIG['authorized_groups']
// contains one or more entries, $LDAP_CONFIG['valid_groups'] will be reset to
// be the same as $LDAP_CONFIG['authorized_groups'] (the end behavior will be
// as in Example 1).

// Groups to use in HRM (filter)
$LDAP_CONFIG['valid_groups'] = array();

// Groups authorized to log in to HRM.
$LDAP_CONFIG['authorized_groups'] = array();
